<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIDE Mesh Dashboard</title>
    
    <!-- D3.js -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    
    <!-- React & Babel (for JSX) -->
    <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    
    <!-- Styles -->
    <link rel="stylesheet" href="/static/css/mesh-dashboard.css">
</head>
<body>
    <div id="root"></div>
    
    <!-- Load React component -->
    <script type="text/babel" src="/static/js/MeshDashboard.jsx"></script>
    
    <script type="text/babel">
        const root = ReactDOM.createRoot(document.getElementById('root'));
        root.render(<MeshDashboard />);
    </script>
</body>
</html>
